{% extends 'admins/base.html' %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Товары</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Товары
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Цена</th>
                            <th>Описание</th>
                            <th>Категория</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Название</th>
                            <th>Описание</th>
                            <th>Цена</th>
                            <th>Описание</th>
                            <th>Категория</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for category in object_list %}
                            <tr>
                                <td>
                                    <a href="#" style="color: dodgerblue">
                                        {{ category.name }}
                                    </a>
                                </td>
                                <td>{{ category.description }}</td>
                                <td>{{ category.price }}</td>
                                <td>{{ category.quantity }}</td>
                                <td>{{ category.category }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'admins:admin_users_create' %}">
                    <button class="btn btn-success">Создать пользователя</button>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}